services:
  # REST API Laravel Octane (FrankenPHP)
  app:
    build: .
    container_name: laravel_app
    restart: always
    ports:
      - "8000:8000"
    environment:
      - OCTANE_SERVER=frankenphp
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  # Laravel Queue Worker
  worker:
    build: .
    container_name: laravel_worker
    restart: always
    command: php artisan queue:work --verbose --tries=3 --timeout=90
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  # Database PostgreSQL
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE:-laravel}
      POSTGRES_USER: ${DB_USERNAME:-sail}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Redis untuk Cache & Queue
  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
